################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sdf
*.opendb
*.obj
*.tlog
*.pdb
*.log
*.pch
*.lib
*.ipch
*.idb
*.iobj
*.ipdb
*.ilk
*.suo
*.dat
*.exe
/BitMRC/save
*.db
/UpgradeLog.htm
Options.cmake
CMakeFiles
/Release/save
/Debug/sqlite3.dll
